[profile.default]
src = "src"
out = "out"
libs = ["lib"]

solc = "0.8.19"
evm_version = "istanbul"

optimizer = true
optimizer_runs = 200

[rpc_endpoints]
cypherium = "https://pubnodes.cypherium.io/rpc"
